<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/core.css}" rel="stylesheet" type="text/css">
    <title>TOP</title>
</head>
<body>
<ul style="list-style: none;">
    <div align="center" class="circle">
        <li><a th:href="@{/circles/golf}">ゴルフ部</a></li>
        <li><a th:href="@{/circles/majan}">麻雀部</a></li>
        <li><a th:href="@{/circles/fishing}">釣り部</a></li>
        <li><a th:href="@{/circles/darts}">ダーツ部</a></li>
        <li><a th:href="@{/circles/gyoza}">餃子部</a></li>
    </div>
</ul>
</body>
</html>