<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: meta_header('サークル一覧',~{::link},~{::script})">
</head>
<body>
<!--Install header from common.html-->
<div th:replace="common :: header"></div>
<!--end-->
<br>
<br>
<br>
<h1>This is the deleteView page.</h1>
<!--Install footer from common.html-->
<div th:replace="common :: footer"></div>
<!--end-->

<!--Install bootstrapjs from common.html-->
<div th:replace="common :: popperjs"></div>
<div th:replace="common :: bootstrapjs"></div>
<!--end-->
</body>
</html>