<!-- FIXME:circlesに対応するように編集 -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: meta_header('サークル一覧',~{::link},~{::script})">
    <!-- (2)このページ固有で読み込むCSS/JS -->
    <link th:href="@{/css/components/btn.css}" rel="stylesheet" type="text/css">
</head>
<body>
<!--Install header from common.html-->
<div th:replace="common :: header"></div>
<!--end-->

<div class="container">
    <form method="post" th:action="@{/circles/edit}" class=form-control th:object="${editCircleForm}">
        <input type="hidden" th:field="*{id}"/>
        <div class="mb-3">
            <label for="InputCircleName" class="form-label">部活名</label>
            <input type="text" class="form-control" id="InputCircleName" name="InputTitle" th:field="*{circleName}">
        </div>
        <div class="mb-3">
            <label for="InputDescription" class="form-label">活動内容</label>
            <textarea type="text" class="form-control" id="InputDescription" name="InputTitle"
                      th:field="*{description}"></textarea>
        </div>
        <div class="mb-3">
            <label for="SelectCircleStatus" class="form-label">活動状況</label>
            <select class="form-control" id="SelectCircleStatus" name="SelectCircleStatus" th:field="*{isActive}">
                <option th:value= "1" th:text="活動中！"></option>
                <option th:value= "0" th:text="活動休止中..."></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" name="update">更新</button>
        <button type="submit" class="btn btn-primary" name="delete">削除</button>
    </form>
</div>


<!--Install footer from common.html-->
<div th:replace="common :: footer"></div>
<!--end-->

<!--Install bootstrapjs from common.html-->
<div th:replace="common :: popperjs"></div>
<div th:replace="common :: bootstrapjs"></div>
<!--end-->
</body>
</html>