<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: meta_header('サークル新規作成',~{::link},~{::script})">
    <!-- (2)このページ固有で読み込むCSS/JS -->
    <link th:href="@{/css/components/btn.css}" rel="stylesheet" type="text/css">
</head>
<body>
<!--Install header from common.html-->
<div th:replace="common :: header"></div>
<!--end-->

<div class="container">
    <form method="post" th:action="@{/circles/new}" class=form-control th:object="${createCircleForm}">
        <div class="mb-3">
            <label for="InputCircleName" class="form-label">部活名</label>
            <input type="text" class="form-control" id="InputCircleName" name="InputTitle" th:field="*{circleName}">
        </div>
        <div class="mb-3">
            <label for="InputDescription" class="form-label">活動内容</label>
            <textarea type="text" class="form-control" id="InputDescription" name="InputTitle"
                      th:field="*{description}"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">登録</button>
    </form>
</div>


<!--Install footer from common.html-->
<div th:replace="common :: footer"></div>
<!--end-->

<!--Install bootstrapjs from common.html-->
<div th:replace="common :: popperjs"></div>
<div th:replace="common :: bootstrapjs"></div>
<!--end-->
</body>
</html>