<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング -->
<mapper namespace="com.pomodoro.repository.ArticleMapper">
    <!-- fetch post data -->
    <select id="findMany" resultType="MArticle">
        select *
        from articles
        left join circles 
          on articles.circle_id = circles.id
    </select>
    <!-- 記事1件取得 -->
    <select id="findOne" resultType="MArticle">
        select * from articles where id = #{id}
    </select>
    <!-- 記事1件登録 -->
    <insert id="insertOne">
        insert into articles ( circle_id 
                            , title
                            , body)
        values ( #{circle_id}
               , #{title}
               , #{body})
    </insert>
    <!-- 記事1件削除 -->
    <delete id="deleteOne">
      delete from articles where id = #{id}
    </delete>
    <!-- 記事1件編集 -->
    <update id="updateOne">
      update articles set circle_id = #{circle_id} ,  title = #{title} , body = #{body} where id = #{id}
    </update>
</mapper>