<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング -->
<mapper namespace="com.pomodoro.repository.ArticleMapper">

  <!-- 記事1件登録 -->
  <insert id="insertOne">
    insert into article (
       clubName
      , title
      , body
    )
    values (
       #{clubName}
      , #{title}
      , #{body}
    )
  </insert>
  <!-- <insert id="insertOne">
    insert into article (
        id
      , clubName
      , title
      , body
    )
    values (
        #{id}
      , #{clubName}
      , #{title}
      , #{body}
    )
  </insert> -->
  <!-- fetch post data -->
  <select id="findMany" resultType="MArticle">
    select
      *
    from
      article
  </select>
</mapper>