<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング -->
<mapper namespace="com.pomodoro.repository.CircleMapper">
    <insert id="insertOne">
        insert into circles ( circleName
                            , description)
        values ( #{circleName}
               , #{description})
    </insert>

    <!-- fetch post data -->
    <select id="findMany" resultType="MCircle">
        select *
        from circles
        where isActive = 1
    </select>

    <select id="findInactive" resultType="MCircle">
        select *
        from circles where isActive = 0
    </select>

    <select id="findCircleOne" resultType="MCircle">
        select *
        from circles
        where id = #{id}
    </select>

    <select id="findArticlesOfCircle" resultType="MArticle">
        select *
        from articles
                 left join circles on articles.circle_id = circles.id
        where circle_id = #{id}
    </select>

    <select id="findCircleName" resultType="String">
        select circleName
        from circles
        where id = #{id}
    </select>

    <!-- サークル1件編集 -->
    <update id="updateOne">
        update circles
        set circleName  = #{circleName},
            description = #{description},
            isActive = #{isActive}
        where id = #{id}
    </update>

    <!-- サークル1件削除 -->
    <delete id="deleteOne">
        update circles set isActive = 0 where id = #{id}
    </delete>
</mapper>